@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
body {
  font-family: Roboto, Arial, sans-serif;
  color: #65AADA;
}

.shirt {
  width: 400px;
}

nav > ul {
  border-top: 2px solid #65AADA;
  padding: 0;
}

li {
  display: inline-block;
  width: 20%;
  margin: 0;
  float: left;
  text-align: center;
  box-sizing: border-box;
  padding: 1em 0em 1em 0em;
}

.shirt img {
  width: 92%;
  padding: 4%;

}

aside {
  position: relative;
}

.blueback {
  position: absolute;
  top: 2em;
  opacity: 0;
  transform: rotateY(180deg);
}

.bluefront:hover {
  transform: rotateY(0deg);
}

.fa-undo:hover ~ .bluefront {
  transform: rotateY(180deg);
  transition: 0.5s linear;
  opacity: 0;
}

.fa-undo:hover ~ .blueback {
  transform: rotateY(0);
  transition: 0.5s linear;
  opacity: 1;
}

.fa-undo:hover .bluefront {
  transform: 0.5s ease;
}

/*yellowshirt css*/
.yellowback {
  position: absolute;
  top: 2em;
  opacity: 0;
  transform: rotateY(180deg);
}

.yellowfront:hover {
  transform: rotateY(0deg);
}

.fa-undo:hover ~ .yellowfront {
  transform: rotateY(180deg);
  transition: 0.5ss linear;
  opacity: 0;
}

.fa-undo:hover ~ .yellowback {
  transform: rotateY(0);
  transition: 0.5s linear;
  opacity: 1;
}

.fa-undo:hover .yellowfront {
  transform: 0.5s ease;
}

/*pinkshirt css*/
.pinkback {
  position: absolute;
  top: 2em;
  opacity: 0;
  transform: rotateY(180deg);
}

.pinkfront:hover {
  transform: rotateY(0deg);
}

.fa-undo:hover ~ .pinkfront {
  transform: rotateY(180deg);
  transition: 0.5s linear;
  opacity: 0;
}

.fa-undo:hover ~ .pinkback {
  transform: rotateY(0);
  transition: 0.5s linear;
  opacity: 1;
}

.fa-undo:hover .pinkfront {
  transform: 0.5s ease;
}

.fa-undo:hover {
  transition: 2s;
}

.fa-undo {
  border: 2px solid #65AADA;
  transform: rotate(180deg);
  display: block;
  width: 1em;
  float: right;
  border-bottom: none;
  border-left: none;
  padding: 0.5em;
}

.payment {
  border-top: 2px solid #65AADA;
  border-right: 0;
  border-left: 0;
  border-bottom: 0;
  clear: both;
  box-sizing: border-box;
  padding: 1em .5em 1em .5em;
}

p1 {
  float: left;
  width: 50%;
  display: block;
  font-weight: 100;
}

p2 {
  text-align: right;
  display: block;
  font-weight: bolder;
}

article {
  border-top: 2px solid #65AADA;
  border-right: 2px solid #65AADA;
  border-left: 2px solid #65AADA;
}

article::after {
  clear: both;
  content: '';
  display: block;
}

.sizingelements {
  height: 0;
  opacity: 0;
  transition: all 1 linear;
  font-size: 0;
}

.colorchooser {
  height: 0;
  opacity: 0;
  transition: all 1 linear;
  font-size: 0;
}

.sizing li{
  width: 100%;
  text-align: center;
  display: block;
  vertical-align: middle;
  float: none;
  border: none;
  background-color: #ffffff;
}

.sizing {
  position: relative;
  border-right: 2px solid #65AADA;
}

.square {
  border-right: 2px solid #65AADA;
}

.heart {
  border-right: 2px solid #65AADA;
}

.exchange {
  border-right: 2px solid #65AADA;
}

.sizing ul {
  position: absolute;
  bottom: 4em;
  left: 0;
  width: 76px;
  padding: 0;
  border: 2px solid #65AADA;
  opacity: 0;
  transition: color;
}

/*used http://www.cssarrowplease.com/ */
.allsizes:after, .sizing:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.allsizes:after {
	border-color: #65AADA;
	border-top-color: #ffffff;
	border-width: 10px;
	margin-left: -10px;
}
.allsizes:before {
	border-color: #65AADA;
	border-top-color: #5BA3D6;
	border-width: 10px;
	margin-left: -10px;
}

.coloroptions:after, .sizing:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.coloroptions:after {
	border-color: #65AADA;
	border-top-color: #ffffff;
	border-width: 10px;
	margin-left: -10px;
}
.coloroptions:before {
	border-color: #65AADA;
	border-top-color: #5BA3D6;
	border-width: 10px;
	margin-left: -10px;
}

/* http://www.cssarrowplease.com/ */









.square {
  position: relative;
}

.square li {
  display: block;
  width: 50%;
  margin: 0;
  float: left;
  text-align: center;
  box-sizing: border-box;
  padding: 0;
}

.square ul {
  position: absolute;
  border: 2px solid #65AADA;
  background-color: #ffffff;
  bottom: 2em;
  padding: 0.1em;
  right: -5px;
  left: -5px;
  font-size: 2em;
  opacity: 0;
}

.fa-undo:hover {
  color: #ffffff;
  background-color: #65AADA;
}

.heart:hover, .cart:hover, .exchange:hover {
  color: #ffffff;
  background-color: #65AADA;
}

.sizing:hover {
  color: #ffffff;
  background-color: #65AADA;
}

.sizing:hover .allsizes {
  color: #65AADA;
  opacity: 1;
  transition: 0.2s linear;
  transform: translate(0, 1em);
}

.square:hover {
  color: #ffffff;
  background-color: #65AADA;
}

.square:hover .coloroptions {
  opacity: 1;
  transition: 0.2s linear;
  transform: translate(0, 0.5em);
}


.XL {
  font-size: 0.95em;
}
.L {
  font-size: 0.9em;
}
.M {
  font-size: 0.85em;
}
.S {
  font-size: 0.75em;
}

.bluebox {
  color: #80BBE5;
}

.pinkbox {
  color: #D583AC;
}

.yellowbox {
  color: #DEB17E;
}

.greenbox {
  color: #8BB992
}

section {
  float: left;
  padding: 1em;
}



/*section.nav {
  border-right: 2px solid #999999;
  border-left: 2px solid #999999;
}*/
